<div class="col py-3">
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title"> <%= article.title %> </h5>
        <p class="text-secondary card-text"> <%= article.created_at %> </p>
        <%= link_to "Ver mas", article, class:"btn btn-primary" %>
        </div>
    </div>
</div>